<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Profit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="logo">
                <img src="{{url_for('static', filename='/img/logo.png')}}" alt="Logo">
            </div>
            <div class="buscar">
                <form id="busca_form" action="{{ url_for('busca') }}" method="get" enctype="application/x-www-form-urlencoded" onsubmit="return buscar()">
                    <input type="text" id="busca" name="busca" placeholder="O que está procurando?">
                    <img src="{{url_for('static', filename='/img/find.png')}}" alt="Buscar">
                </form>
            </div>
            <div class="conta_linguagem">
                <div class="conta_chart">
                        <a class="conta">
                        <img src="{{url_for('static', filename='/img/user.png')}}" alt="User">
                        <div>Minha Conta</div>
                    </a>
                    <a class="chart">
                        <img src="{{url_for('static', filename='/img/cart.png')}}" alt="User">
                        <div class="quant">1</div>
                    </a>
                </div>
                <hr>
                <div class="linguagem">
                    <a class="img_op">
                        <img src="{{url_for('static', filename='/img/br.png')}}" alt="PORTUGUES">
                    </a>
                    <a class="img_op">
                        <img src="{{url_for('static', filename='/img/es.png')}}" alt="ESPANHOL">
                    </a>
                    <a class="img_op">
                        <img src="{{url_for('static', filename='/img/en.png')}}" alt="ENGLISH">
                    </a>
                </div>
            </div>
        </div>
        <div class="ad">
            <div class="texto_ad">
                <a class="left">
                    <img src="{{url_for('static', filename='/img/left.png')}}" alt="left">
                </a>
                <div class="texto_interno_ad">
                    <h1>Nossa especialidade:<br>experiência de compra.</h1>
                    <div class="traco"></div>
                </div>
            </div>
            <div class="imagem_ad">
                <a class="right">
                    <img src="{{url_for('static', filename='/img/right.png')}}" alt="right">
                </a>
            </div>
        </div>
        <div class="products">

        </div>
        <div class="footer">
            <div>
                <h1>Localização</h1>
            </div>
            <div class="traco"></div>
            <div class="footer_info">
                <div class="cidades">
                    <div class="cidade">
                        <h1>São Paulo</h1>
                        <p>Rua do Rócio, 423/1801</p>
                        <p>Vila Olímpia - SP</p>
                        <p>04552-000</p>
                        <p>+55 11 3333 3333</p>
                    </div>
                    <div class="cidade">
                        <h1>Rio de Janeiro</h1>
                        <p>Vol. da Pátria, 301/702</p>
                        <p>Botafogo - RJ</p>
                        <p>22270-000</p>
                        <p>+55 11 3333 3333</p>
                    </div>
                </div>
                <div class="botoes_contato">
                    <a class="botao_cont">
                        <img src="{{url_for('static', filename='/img/user.png')}}" alt="User">
                        <p>ENTRE EM CONTATO</p>
                    </a>
                    <a class="botao_cont">
                        <img src="{{url_for('static', filename='/img/user.png')}}" alt="User">
                        <p>FALE COM O NOSSO CONSULTOR ONLINE</p>
                    </a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>
</html>