body{
    margin: 0;
    font-family: system-ui;
}

.page{
    display: grid;
    grid-template-areas: "header" "ad" "products" "footer";
    grid-template-rows: 1fr 5fr 7fr 3fr;
}

.header{
    grid-area: "header";
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.logo img{
    width: 7vw;
}

.buscar{
    border: none;
    border-bottom: 2px solid black;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#busca{
    border: none;
}

.buscar #busca_form{
    display: flex;
    justify-content: space-between;
}

.buscar #busca_form input{
    width: -webkit-fill-available;
    border: none;
}

*:focus {
    outline: none;
}

.buscar img{
    width: 1vw;
    margin: .5vw;
}

.conta_linguagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25vw;
}

.conta_linguagem hr{
    width: 0vw;
    height: 4vh;
    background-color: black;
}

.conta_chart{
    display: flex;
    align-items: center;
}

.conta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}

.conta img{width: 2vw;}

.chart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 4vw;
}

.chart img{width: 2vw;}

.quant{
    background-color: #2EC4B6;
    border-radius: 1vw;
    width: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linguagem{
    display: flex;
    align-items: center;
    width: 11vw;
    justify-content: space-evenly;
}

.img_op img{
    width: 2vw;
}

.ad{
    grid-area: "ad";
    background-color: #011627;
    display: grid;
    grid-template-areas: "text banner";
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}

.texto_ad{
    grid-area: "text";
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}


.texto_interno_ad{
    margin: 0 1vw 0 0;
}

.texto_interno_ad h1{
    margin: 0 0 1.5vh 0;
    color: #fff;
    font-family: system-ui;
}

.traco{
    width: 4vw;
    height: 0.5vh;
    background-color: #FF9F1C;
}

.left{
    margin: 0 1vw 0 0;
}

.imagem_ad{
    grid-area: "banner";
    display: flex;
    background-image: url('../img/banner.jpeg');
    background-repeat: round;
}

.right{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2ec4b675;
}

.footer{
    grid-area: "footer";
    background-color: #011627;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: system-ui;
    color: white;
    justify-content: space-evenly;
}

.footer h1{
    font-size: 1.5vw;
}

.footer_info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.cidades{
    display: flex;
    font-size: 1vw;
}

.cidade{
    margin: 0 1vw 0 0;
}

.botoes_contato{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botao_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF9F1C;
    border-radius: 1vw;
    align-items: center;
    margin: 0 0 3vh 0;
}

.botao_cont img{
    width: 1.5vw;
    height: 1.5vw;
    margin: .5vw;
}

.botao_cont p{
    margin: 0.5vw;
}

.marca{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    width: 20vw;
}

.marca_branca{
    display: flex;
    flex-direction: column;
    margin: 2vh .5vw;
}

.marca_branca{
    width: 12vw;
}

.products{
    grid-area: "products";
    margin: 0 9vw;
}

.titulo h1{
    font-size: 2vw;
    margin: .2vw;
}

#produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produto{
    margin: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto #prod_img{
    width: 15vw;
}

.prod_nome, .old_price, .parc{
    margin: 0;
    color: #7A7A7A;
}

.prod_nome, .price{
    margin: .2vw;
    font-size: larger;
}

.price{
    margin: .2vw;
    font-size: x-large;
    color: #2EC4B6;
    font-weight: bold;
}

.botao_add_chart{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2ec4b6;
    border-radius: .5vw;
    padding: 0.4vw 2vw;
    margin: 1vw;
}

.botao_add_chart img{
    width: 2vw;
    margin: 0 1.5vw 0 0;
}

.botao_add_chart p{
    margin: 0;
    color: #fff;
    font-weight: 600;
}

@media screen and (max-width: 360px) {

}